body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-weight: 500;
    color: #484848;
    text-transform: uppercase;
}
p {
    margin: 0px;
}
table {
    margin: auto;
    height: 612px;
    width: 1143px;
    border: 25px solid #3A4965;
    text-align: center;
    border-collapse: collapse;
}
.choose {
    font-size: 14px;
    font-weight: 700;
}
.pricing {
    font-size: 20px;
    font-weight: 700;
}
.box {
    height: 21px;
    width: 23px;
}
.titl {
    font-size: 20px;
}
.cloud {
    height: 19px;
    width: 26px;
}
.email {
    height: 20px;
    width: 24px;
}
.wheel {
    height: 25px;
    width: 24px;
}
.cube {
    height: 23px;
    width: 23px;
}
.people {
    height: 25px;
    width: 26px;
}
.standart {
    font-size: 24px;
    background-color: #89C331;
    color: #FFFFFF;
    height: 167px;
}
.btn1 {
    width: 145px;
    height: 37px;
    background-color: #484848;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: #404040 0px 5px;
    border: none;
    outline: none;
    position: relative;
    bottom: 9px;
}
button:hover {
    cursor: pointer;
}
.price {
    font-size: 36px;
    font-weight: 500;
}
.price2 {
    position: relative;
    bottom: 18px;
    font-weight: 500;
}
td {
    position: relative;
    border: none;
    border-bottom: 2px solid #D4D4D4;
}
.first {
    height: 114px;
    width: 199px;
    background-color: #FAFAFA;
}
.btn2 {
    width: 145px;
    height: 37px;
    background-color: #484848;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: #404040 0px 5px;
    border: none;
    outline: none;
    position: relative;
    bottom: 9px;
}
.btn3 {
    width: 145px;
    height: 37px;
    background-color: #484848;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: #404040 0px 5px;
    border: none;
    outline: none;
    position: relative;
    bottom: 9px;
}
.btn4 {
    width: 145px;
    height: 37px;
    background-color: #484848;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: #16736F 0px 5px;
    border: none;
    outline: none;
    position: relative;
    bottom: 9px;
}
.ultimate {
    font-size: 24px;
    background-color: #F04A56;
    color: #FFFFFF;
    height: 167px;
}
.premium {
    font-size: 24px;
    background-color: #20807C;
    color: #FFFFFF;
    height: 167px;
}
.second {
    background-color: #E3E3E3;
    height: 114px;
    width: 158px;
    border-bottom:  2px solid #D4D4D4;
}
.one {
    background-color: #FAFAFA;
    height: 114px;
    width: 158px;
    border-bottom:  2px solid #D4D4D4;
}
.premium > a {
    font-size: 14px;
}
.standart > a {
    font-size: 14px;
}
.ultimate > a {
    font-size: 14px;
}
.standar {
    margin-bottom: 10px;
}
.ultimat {
    margin-bottom: 10px;
}
.prem {
    margin-bottom: 10px;
}
button {
    margin-top: 25px;
}